Repository RocketSurgeonsGuild/Blazor.FontAwesome5: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

.lintstagedrc:

{
    "*.{cs,vb}": ["dotnet nuke lint --no-logo --lint-files", "git add"],
    "*.{js,ts,jsx,tsx,json,yml,yaml}": ["prettier --write", "git add"]
}

Updated editorconfig
  .husky/pre-commit
Due: none

[create-pull-request] automated change
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change (#878)
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

Revert "Update actions/upload-artifact action to v4"
  .github/workflows/ci.yml
Due: prettier --write

Revert "Update actions/upload-artifact action to v4" (#891)
  .github/workflows/ci.yml
Due: prettier --write

Updated Roslynator
  Directory.Build.targets
  Directory.Packages.props
Due: none

[create-pull-request] automated change
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change (#939)
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated .editorconfig
  .editorconfig
Due: none

Added playwright tests, ensure that FaIcon overrides work as expected
  .build/SyncMetadata.cs
  Directory.Build.targets
  Directory.Packages.props
  FontAwesome5.sln
  sample/BlazorWasm/App.razor
  sample/BlazorWasm/MainLayout.razor
  sample/BlazorWasm/Pages/Index.razor
  sample/BlazorWasm/Program.cs
  sample/BlazorWasm/Properties/launchSettings.json
  sample/BlazorWasm/_Imports.razor
  sample/BlazorWasm/sample.csproj
  sample/BlazorWasm/wwwroot/css/app.css
  sample/BlazorWasm/wwwroot/index.html
  src/Blazor.FontAwesome6/FaCounter.cs
  src/Blazor.FontAwesome6/FaIcon.cs
  src/Blazor.FontAwesome6/FaText.cs
  src/Blazor.FontAwesome6/IconAnimation.cs
  src/Blazor.FontAwesome6/Shared/IAnimationIcon.cs
  src/Blazor.FontAwesome6/Shared/IIcon.cs
  src/Blazor.FontAwesome6/Shared/ISharedIcon.cs
  src/Blazor.FontAwesome6/Shared/ITransformIcon.cs
  src/Blazor.FontAwesome6/Shared/Icon.cs
  src/Blazor.FontAwesome6/Shared/IconExtensions.cs
  test/Blazor.FontAwesome6.Tests/DevServer/Program.cs
  test/Blazor.FontAwesome6.Tests/DevServer/Startup.cs
  test/Blazor.FontAwesome6.Tests/FaIconTests.cs
  test/Blazor.FontAwesome6.Tests/FaLayerTests.cs
  test/Blazor.FontAwesome6.Tests/IconTests.cs
  test/Blazor.FontAwesome6.Tests/ModuleInitializer.cs
  test/Blazor.FontAwesome6.Tests/PlaywrightFixture.cs
  test/Blazor.FontAwesome6.Tests/PlaywrightSampleTest.cs
  test/Blazor.FontAwesome6.Tests/Rocket.Surgery.Blazor.FontAwesome6.Tests.csproj
  test/Blazor.FontAwesome6.Tests/SharedPlaywrightCollection.cs
  test/Blazor.FontAwesome6.Tests/snapshots/PlaywrightSampleTest.LetsGo.verified.html
  test/Blazor.FontAwesome6.Tests/snapshots/PlaywrightSampleTest.LetsGo.verified.png
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Fixed issue with polyfill and nuke build
  .nuke/build.schema.json
  .nuke/parameters.json
  Directory.Build.targets
  FontAwesome5.sln
  sample/BlazorWasm/BlazorWasm.csproj
  test/Blazor.FontAwesome6.Tests/Rocket.Surgery.Blazor.FontAwesome6.Tests.csproj
Due: prettier --write

Updated how animations are handled for overrides
  .build/Build.cs
  sample/BlazorWasm/Program.cs
  sample/BlazorWasm/_Imports.razor
  src/Blazor.FontAwesome6/FaCounter.cs
  src/Blazor.FontAwesome6/FaIcon.cs
  src/Blazor.FontAwesome6/Shared/IAnimationComponent.cs
  src/Blazor.FontAwesome6/Shared/IAnimationIcon.cs
  src/Blazor.FontAwesome6/Shared/Icon.cs
  src/Blazor.FontAwesome6/Shared/IconExtensions.cs
  test/Blazor.FontAwesome6.Tests/FaIconTests.cs
  test/Blazor.FontAwesome6.Tests/PlaywrightFixture.cs
Due: dotnet nuke lint --no-logo --lint-files

wip on tests and other changes
  src/Blazor.FontAwesome6/FaCounter.cs
  src/Blazor.FontAwesome6/FaIcon.cs
  src/Blazor.FontAwesome6/Shared/IAnimationComponent.cs
  src/Blazor.FontAwesome6/Shared/IIcon.cs
  src/Blazor.FontAwesome6/Shared/ISharedIcon.cs
  src/Blazor.FontAwesome6/Shared/Icon.cs
  src/Blazor.FontAwesome6/Shared/IconExtensions.cs
  test/Blazor.FontAwesome6.Tests/FaIconTests.cs
  test/Blazor.FontAwesome6.Tests/snapshots/FaIconTests.IconValidations_ccf1789885683302.verified.txt
Due: dotnet nuke lint --no-logo --lint-files

disable roslynator
  Directory.Build.targets
Due: none

Updated prettier ignore
  .prettierignore
Due: none

Updated gitversion to beta with hopeful fixes
  .config/dotnet-tools.json
  Directory.Packages.props
  GitVersion.yml
Due: prettier --write

Updated milestone workflow
  .github/workflows/update-milestone.yml
Due: prettier --write

Updated renovate
  .github/renovate.json
Due: prettier --write

Updated workflows for gitversion
  .github/workflows/close-milestone.yml
  .github/workflows/draft-release.yml
Due: prettier --write

Updated workflows for gitversion
  .github/workflows/close-milestone.yml
  .github/workflows/draft-release.yml
  .github/workflows/update-milestone.yml
Due: prettier --write

Fixed tests
  Directory.Packages.props
  test/Blazor.FontAwesome6.Tests/snapshots/PlaywrightSampleTest.LetsGo.verified.html
Due: none

initial work on svg support
  src/Blazor.FontAwesome6/Shared/IIcon.cs
  src/Blazor.FontAwesome6/Shared/IMaskIcon.cs
  src/Blazor.FontAwesome6/Shared/ISvgIcon.cs
  src/Blazor.FontAwesome6/Shared/ISvgMaskIcon.cs
  src/Blazor.FontAwesome6/Shared/Icon.cs
  src/Blazor.FontAwesome6/Shared/IconExtensions.cs
  src/Blazor.FontAwesome6/Shared/SvgIcon.cs
  src/Blazor.FontAwesome6/Vector/DUOTONE_CLASSES.cs
  src/Blazor.FontAwesome6/Vector/Renderer.cs
  src/Blazor.FontAwesome6/Vector/RendererConfig.cs
  src/Blazor.FontAwesome6/Vector/SvgArgs.cs
  src/Blazor.FontAwesome6/Vector/SvgContent.cs
  src/Blazor.FontAwesome6/Vector/SvgParameters.cs
  src/Blazor.FontAwesome6/Vector/SvgTransform.cs
  src/Blazor.FontAwesome6/Vector/UniqueIdGenerator.cs
Due: dotnet nuke lint --no-logo --lint-files

Started work on the FA generator tool
  .build/SyncMetadata.cs
  .config/dotnet-tools.json
  Directory.Packages.props
  FontAwesome5.sln
  README.md
  src/Blazor.FontAwesome.Tool/.graphqlrc.json
  src/Blazor.FontAwesome.Tool/Commands/EmitCommand.cs
  src/Blazor.FontAwesome.Tool/Commands/EmitSettings.cs
  src/Blazor.FontAwesome.Tool/EmitCommandConvention.cs
  src/Blazor.FontAwesome.Tool/KitQuerys.graphql
  src/Blazor.FontAwesome.Tool/Program.cs
  src/Blazor.FontAwesome.Tool/ReleaseQuerys.graphql
  src/Blazor.FontAwesome.Tool/Rocket.Surgery.Blazor.FontAwesome.Tool.csproj
  src/Blazor.FontAwesome.Tool/schema.extensions.graphql
  src/Blazor.FontAwesome.Tool/schema.graphql
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

some macos changes
  src/Blazor.FontAwesome.Tool/Commands/EmitCommand.cs
  src/Blazor.FontAwesome.Tool/KitQuerys.graphql
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromIconFamilies.cs
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromKit.cs
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromRelease.cs
  src/Blazor.FontAwesome.Tool/Operations/IconModel.cs
  src/Blazor.FontAwesome.Tool/Program.cs
  src/Blazor.FontAwesome.Tool/ReleaseQuerys.graphql
Due: dotnet nuke lint --no-logo --lint-files

wip on the FA generation tool
  .build/SyncMetadata.cs
  Directory.Packages.props
  src/Blazor.FontAwesome.Tool/Commands/EmitCommand.cs
  src/Blazor.FontAwesome.Tool/Commands/EmitSettings.cs
  src/Blazor.FontAwesome.Tool/Constants.cs
  src/Blazor.FontAwesome.Tool/KitQuerys.graphql
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromKit.cs
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromRelease.cs
  src/Blazor.FontAwesome.Tool/Operations/IconModel.cs
  src/Blazor.FontAwesome.Tool/Program.cs
  src/Blazor.FontAwesome.Tool/ReleaseQuerys.graphql
  src/Blazor.FontAwesome.Tool/Rocket.Surgery.Blazor.FontAwesome.Tool.csproj
  src/Blazor.FontAwesome.Tool/Support/AccessTokenResult.cs
  src/Blazor.FontAwesome.Tool/Support/FontAwesomeApiKeyHandler.cs
  src/Blazor.FontAwesome.Tool/Support/FontAwesomeApiKeyProvider.cs
  src/Blazor.FontAwesome6.Free.Svg/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Free.Svg/Icons/FaRegular.cs
  src/Blazor.FontAwesome6.Free.Svg/Icons/FaSolid.cs
  src/Blazor.FontAwesome6.Free/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Free/Icons/FaRegular.cs
  src/Blazor.FontAwesome6.Free/Icons/FaSolid.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaLight.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaRegular.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSharpLight.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSharpRegular.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSharpSolid.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSharpThin.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSolid.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaThin.cs
  src/Blazor.FontAwesome6/Shared/Icon.cs
  src/Blazor.FontAwesome6/Shared/SvgIcon.cs
Due: dotnet nuke lint --no-logo --lint-files

move some classes around
  src/Blazor.FontAwesome.Tool/Operations/GetFileContentForIcons.cs
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromIconFamilies.cs
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromKit.cs
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromRelease.cs
  src/Blazor.FontAwesome.Tool/Support/CategoryModel.cs
  src/Blazor.FontAwesome.Tool/Support/CategoryProvider.cs
  src/Blazor.FontAwesome.Tool/Support/IconModel.cs
  src/Blazor.FontAwesome.Tool/Support/IconModelExtensions.cs
Due: dotnet nuke lint --no-logo --lint-files

cleanup existing files when building icons
  .build/SyncMetadata.cs
Due: dotnet nuke lint --no-logo --lint-files
