Repository RocketSurgeonsGuild/Blazor.FontAwesome5: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

.lintstagedrc:

{
    "*.{cs,vb}": ["dotnet nuke lint --no-logo --lint-files", "git add"],
    "*.{js,ts,jsx,tsx,json,yml,yaml}": ["prettier --write", "git add"]
}

wip change to enums perhaps
  .build/SyncMetadata.cs
  GitVersion.yml
  package-lock.json
  package.json
  src/Blazor.FontAwesome5.Brands/FontAwesomeBrands.cs
  src/Blazor.FontAwesome5.Free.Regular/FontAwesomeRegular.cs
  src/Blazor.FontAwesome5.Free.Solid/FontAwesomeSolid.cs
  src/Blazor.FontAwesome5.Pro.Duotone/FontAwesomeDuotone.cs
  src/Blazor.FontAwesome5.Pro.Light/FontAwesomeLight.cs
  src/Blazor.FontAwesome5.Pro.Regular/FontAwesomeRegular.cs
  src/Blazor.FontAwesome5.Pro.Solid/FontAwesomeSolid.cs
  src/Blazor.FontAwesome5/FaCounter.cs
  src/Blazor.FontAwesome5/FaText.cs
  src/Blazor.FontAwesome5/FontAwesomeIconNameAttribute.cs
  src/Blazor.FontAwesome5/FontAwesomeStyleAttribute.cs
  src/Blazor.FontAwesome5/IconCounterPosition.cs
  src/Blazor.FontAwesome5/IconFlip.cs
  src/Blazor.FontAwesome5/IconPull.cs
  src/Blazor.FontAwesome5/IconRotate.cs
  src/Blazor.FontAwesome5/IconSize.cs
  src/Blazor.FontAwesome5/IconStyle.cs
  src/Blazor.FontAwesome5/Shared/Icon.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

wip
  .build/SyncMetadata.cs
  Packages.props
  src/Blazor.FontAwesome5.Brands/Fab.cs
  src/Blazor.FontAwesome5.Brands/FontAwesomeBrands.cs
  src/Blazor.FontAwesome5.Brands/Rocket.Surgery.Blazor.FontAwesome5.Brands.csproj
  src/Blazor.FontAwesome5.Free.Regular/Far.cs
  src/Blazor.FontAwesome5.Free.Regular/FontAwesomeRegular.cs
  src/Blazor.FontAwesome5.Free.Regular/Rocket.Surgery.Blazor.FontAwesome5.Free.Regular.csproj
  src/Blazor.FontAwesome5.Free.Solid/Fas.cs
  src/Blazor.FontAwesome5.Free.Solid/FontAwesomeSolid.cs
  src/Blazor.FontAwesome5.Free.Solid/Rocket.Surgery.Blazor.FontAwesome5.Free.Solid.csproj
  src/Blazor.FontAwesome5.Free/Rocket.Surgery.Blazor.FontAwesome5.Free.csproj
  src/Blazor.FontAwesome5.Pro.Duotone/Fad.cs
  src/Blazor.FontAwesome5.Pro.Duotone/FontAwesomeDuotone.cs
  src/Blazor.FontAwesome5.Pro.Duotone/Rocket.Surgery.Blazor.FontAwesome5.Pro.Duotone.csproj
  src/Blazor.FontAwesome5.Pro.Light/Fal.cs
  src/Blazor.FontAwesome5.Pro.Light/FontAwesomeLight.cs
  src/Blazor.FontAwesome5.Pro.Light/Rocket.Surgery.Blazor.FontAwesome5.Pro.Light.csproj
  src/Blazor.FontAwesome5.Pro.Regular/Far.cs
  src/Blazor.FontAwesome5.Pro.Regular/FontAwesomeRegular.cs
  src/Blazor.FontAwesome5.Pro.Regular/Rocket.Surgery.Blazor.FontAwesome5.Pro.Regular.csproj
  src/Blazor.FontAwesome5.Pro.Solid/Fas.cs
  src/Blazor.FontAwesome5.Pro.Solid/FontAwesomeSolid.cs
  src/Blazor.FontAwesome5.Pro.Solid/Rocket.Surgery.Blazor.FontAwesome5.Pro.Solid.csproj
  src/Blazor.FontAwesome5.Pro/Rocket.Surgery.Blazor.FontAwesome5.Pro.csproj
  src/Blazor.FontAwesome5/FaCounter.cs
  src/Blazor.FontAwesome5/FaIcon.cs
  src/Blazor.FontAwesome5/FaLayer.cs
  src/Blazor.FontAwesome5/FaStack.cs
  src/Blazor.FontAwesome5/FaText.cs
  src/Blazor.FontAwesome5/FontAwesomeIconNameAttribute.cs
  src/Blazor.FontAwesome5/FontAwesomeStyleAttribute.cs
  src/Blazor.FontAwesome5/IconStyle.cs
  src/Blazor.FontAwesome5/Rocket.Surgery.Blazor.FontAwesome5.csproj
  src/Blazor.FontAwesome5/Shared/ITransformIcon.cs
  src/Blazor.FontAwesome5/Shared/Icon.cs
  test/Blazor.FontAwesome5.Tests/ComponentTestHelpers.cs
  test/Blazor.FontAwesome5.Tests/FaLayerTests.cs
  test/Blazor.FontAwesome5.Tests/IconTests.cs
  test/Blazor.FontAwesome5.Tests/Rocket.Surgery.Blazor.FontAwesome5.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files

coverage and fixes for stack, counter, layer, etc
  src/Blazor.FontAwesome5/FaCounter.cs
  src/Blazor.FontAwesome5/FaIcon.cs
  src/Blazor.FontAwesome5/FaLayer.cs
  src/Blazor.FontAwesome5/FaStack.cs
  src/Blazor.FontAwesome5/FaText.cs
  src/Blazor.FontAwesome5/Shared/ITransformIcon.cs
  src/Blazor.FontAwesome5/Shared/Icon.cs
  test/Blazor.FontAwesome5.Tests/ComponentTestHelpers.cs
  test/Blazor.FontAwesome5.Tests/FaLayerTests.cs
  test/Blazor.FontAwesome5.Tests/IconTests.cs
  test/Blazor.FontAwesome5.Tests/Rocket.Surgery.Blazor.FontAwesome5.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files

Updated codecov token and ci config
  README.md
  azure-pipelines.yml
Due: prettier --write

Updated readme
  README.md
Due: none

Removed the extra attribute (not really needed)
  .build/SyncMetadata.cs
  src/Blazor.FontAwesome5.Brands/Fab.cs
  src/Blazor.FontAwesome5.Free.Regular/Far.cs
  src/Blazor.FontAwesome5.Free.Solid/Fas.cs
  src/Blazor.FontAwesome5.Pro.Duotone/Fad.cs
  src/Blazor.FontAwesome5.Pro.Light/Fal.cs
  src/Blazor.FontAwesome5.Pro.Regular/Far.cs
  src/Blazor.FontAwesome5.Pro.Solid/Fas.cs
  src/Blazor.FontAwesome5/FontAwesomeAttribute.cs
  src/Blazor.FontAwesome5/FontAwesomeIconNameAttribute.cs
  src/Blazor.FontAwesome5/Shared/Icon.cs
  test/Blazor.FontAwesome5.Tests/IconTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated to the latest build pipeline
  .appveyor.yml
  .build/Build.cs
  .prettierrc
  Packages.props
  azure-pipelines.nuke.yml
  azure-pipelines.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated to latest testing changes with dryioc
  Packages.props
Due: none

Updated dependencies
  Packages.props
  azure-pipelines.nuke.yml
  nukeeper.settings.json
  test/Blazor.FontAwesome5.Tests/FaIconTests.cs
  test/Blazor.FontAwesome5.Tests/FaStackTests.cs
  test/Blazor.FontAwesome5.Tests/IconTests.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

updated gitversion config
  GitVersion.yml
Due: prettier --write

Updated dependabot config
  .dependabot/config.yml
Due: prettier --write

Bump package versions
  Directory.Build.targets
  Packages.props
Due: none

Updated to latest nuke
  .build/Build.CI.cs
  .build/Build.cs
  .build/Configuration.cs
  .build/SyncMetadata.cs
  .config/dotnet-tools.json
  .dependabot/config.yml
  .github/auto_assign.yml
  .github/dependabot.yml
  .github/labels.yml
  .github/workflows/ci.yml
  .github/workflows/close-milestone.yml
  .github/workflows/draft-release.yml
  .github/workflows/fontawesome.yml
  .github/workflows/nukeeper.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-milestone.yml
  .mergify.yml
  .prettierignore
  GitReleaseManager.yaml
  GitVersion.yml
  NuGet.config
  Packages.props
  README.md
  azure-pipelines.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated fontawesome config
  .github/workflows/ci.yml
  .github/workflows/fontawesome.yml
  azure-pipelines.nuke.yml
Due: prettier --write

remove matrix
  .github/workflows/fontawesome.yml
Due: prettier --write

Updated version
  .github/workflows/fontawesome.yml
Due: prettier --write

Updated fa updater to use absolute paths
  .build/SyncMetadata.cs
  .github/workflows/fontawesome.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated fa updater to use absolute paths
  .build/SyncMetadata.cs
  src/Blazor.FontAwesome5.Brands/Fab.cs
  src/Blazor.FontAwesome5.Free.Solid/Fas.cs
  src/Blazor.FontAwesome5.Pro.Duotone/Fad.cs
  src/Blazor.FontAwesome5.Pro.Light/Fal.cs
  src/Blazor.FontAwesome5.Pro.Regular/Far.cs
  src/Blazor.FontAwesome5.Pro.Solid/Fas.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated fa updater to use absolute paths
  .github/workflows/fontawesome.yml
Due: prettier --write

rolled back changes
  src/Blazor.FontAwesome5.Brands/Fab.cs
  src/Blazor.FontAwesome5.Free.Solid/Fas.cs
  src/Blazor.FontAwesome5.Pro.Duotone/Fad.cs
  src/Blazor.FontAwesome5.Pro.Light/Fal.cs
  src/Blazor.FontAwesome5.Pro.Regular/Far.cs
  src/Blazor.FontAwesome5.Pro.Solid/Fas.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated fa updater to use absolute paths
  .github/workflows/fontawesome.yml
  .github/workflows/sync-labels.yml
Due: prettier --write

Updated fa updater to use absolute paths
  .build/Build.CI.cs
  .github/workflows/ci.yml
  .github/workflows/fontawesome.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

rolled back changes
  .github/workflows/fontawesome.yml
Due: prettier --write

[create-pull-request] automated change (#88)
  src/Blazor.FontAwesome5.Brands/Fab.cs
  src/Blazor.FontAwesome5.Free.Solid/Fas.cs
  src/Blazor.FontAwesome5.Pro.Duotone/Fad.cs
  src/Blazor.FontAwesome5.Pro.Light/Fal.cs
  src/Blazor.FontAwesome5.Pro.Regular/Far.cs
  src/Blazor.FontAwesome5.Pro.Solid/Fas.cs
Due: dotnet nuke lint --no-logo --lint-files

fixed updater
  .github/workflows/fontawesome.yml
Due: prettier --write

fixed updater (#89)
  .github/workflows/fontawesome.yml
Due: prettier --write

Updated some steps and yaml configuration
  .build/.build.csproj
  Packages.props
Due: none

Updated GRM config
  GitReleaseManager.yaml
Due: prettier --write

Removed nukeeper workflow
  .github/workflows/nukeeper.yml
Due: prettier --write

Updated mergify
  .mergify.yml
Due: prettier --write

logic for dependabot merging
  .github/label-commenter-dependabot.yml
  .github/workflows/dependabot-merge.yml
  .mergify.yml
Due: prettier --write

Updated mergify (#91)
  .mergify.yml
Due: prettier --write

Updated nuke beta
  Packages.props
Due: none
