Repository RocketSurgeonsGuild/Blazor.FontAwesome5: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

Automatically linting code
  .github/workflows/lint.yml
Due: prettier --write

Automatically linting code
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .nuke/build.schema.json
Due: prettier --write

bump tests
  .config/dotnet-tools.json
  Directory.Packages.props
  Directory.Packages.support.props
  test/Blazor.FontAwesome6.Tests/snapshots/PlaywrightSampleTest.LetsGo.verified.html
  test/Blazor.FontAwesome6.Tests/snapshots/PlaywrightSampleTest.LetsGo.verified.png
Due: prettier --write

Automatically linting code
  .config/dotnet-tools.json
Due: prettier --write

Update renovate.json
  .github/renovate.json
Due: prettier --write

updated
  Directory.Packages.props
Due: none

Added nuget auditing config
  Directory.Build.props
  NuGet.config
Due: none

normalizing nuke dependencies
  .appveyor.yml
  .build/.build.csproj
  .build/Build.cs
  .config/dotnet-tools.json
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .husky/pre-commit
  .husky/task-runner.json
  .lintstagedrc.js
  .nuke/build.schema.json
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  NuGet.config
  build.cmd
  build.ps1
  build.sh
  package-lock.json
  package.json
  src/Blazor.FontAwesome.Tool/Rocket.Surgery.Blazor.FontAwesome.Tool.csproj
  src/Directory.Build.targets
  test/Directory.Build.targets
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

normalizing nuke dependencies
  FontAwesome5.sln
Due: none

normalizing nuke dependencies
  .codecov.yml
  .prettierrc
  .vscode/settings.json
  FontAwesome5.sln.DotSettings
  README.md
  sample/BlazorWasm/Properties/launchSettings.json
  sample/BlazorWasm/wwwroot/css/app.css
  sample/BlazorWasm/wwwroot/index.html
  src/Blazor.FontAwesome.Tool/.graphqlrc.json
  src/Blazor.FontAwesome.Tool/KitQuerys.graphql
  src/Blazor.FontAwesome.Tool/ReleaseQuerys.graphql
  src/Blazor.FontAwesome.Tool/schema.extensions.graphql
  src/Blazor.FontAwesome.Tool/schema.graphql
Due: prettier --write

normalizing nuke dependencies
  .build/.build.csproj
  Directory.Build.targets
  Directory.Packages.props
  sample/BlazorWasm/BlazorWasm.csproj
  src/Directory.Build.targets
Due: none

bump
  src/Directory.Build.targets
Due: none

Added repository updates to move to GlobalPackageReferences, as well … (#1238)
  .appveyor.yml
  .build/.build.csproj
  .build/Build.cs
  .codecov.yml
  .config/dotnet-tools.json
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .husky/pre-commit
  .husky/task-runner.json
  .lintstagedrc.js
  .nuke/build.schema.json
  .prettierrc
  .vscode/settings.json
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  FontAwesome5.sln
  FontAwesome5.sln.DotSettings
  NuGet.config
  README.md
  build.cmd
  build.ps1
  build.sh
  package-lock.json
  package.json
  sample/BlazorWasm/BlazorWasm.csproj
  sample/BlazorWasm/Properties/launchSettings.json
  sample/BlazorWasm/wwwroot/css/app.css
  sample/BlazorWasm/wwwroot/index.html
  src/Blazor.FontAwesome.Tool/.graphqlrc.json
  src/Blazor.FontAwesome.Tool/KitQuerys.graphql
  src/Blazor.FontAwesome.Tool/ReleaseQuerys.graphql
  src/Blazor.FontAwesome.Tool/Rocket.Surgery.Blazor.FontAwesome.Tool.csproj
  src/Blazor.FontAwesome.Tool/schema.extensions.graphql
  src/Blazor.FontAwesome.Tool/schema.graphql
  src/Directory.Build.targets
  test/Directory.Build.targets
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Automatically linting code
  Directory.Packages.props
  FontAwesome5.sln.DotSettings
Due: none

Disable nuget cache
  .build/Build.CI.cs
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  README.md
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Automatically linting code
  .build/Build.CI.cs
Due: dotnet nuke lint --no-logo --lint-files

Disable nuget cache (#1243)
  .build/Build.CI.cs
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  README.md
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Disable nuget cache
  .build/Build.CI.cs
Due: dotnet nuke lint --no-logo --lint-files

nuget cache
  .github/workflows/lint.yml
  .nuke/build.schema.json
  Directory.Packages.props
  README.md
Due: prettier --write

more updates
  Directory.Packages.props
Due: none

more updates
  README.md
Due: none

Nuget cache (#1245)
  .build/Build.CI.cs
  .github/workflows/lint.yml
  .nuke/build.schema.json
  Directory.Packages.props
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Automatically linting code
  Directory.Packages.props
Due: none

Update nuke
  .github/workflows/lint.yml
  Directory.Packages.props
Due: prettier --write

latest nuke beta
  Directory.Packages.props
Due: none

fix build
  .build/Build.CI.cs
  .build/Build.cs
Due: dotnet nuke lint --no-logo --lint-files

Automatically linting code
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .nuke/build.schema.json
  Directory.Packages.props
Due: prettier --write

some other changes
  .build/.build.csproj
  .build/SyncMetadata.cs
  Directory.Packages.props
  FontAwesome5.sln.DotSettings
  sample/BlazorWasm/BlazorWasm.csproj
  src/Blazor.FontAwesome.Tool/schema.graphql
Due: dotnet nuke lint --no-logo --lint-files

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
