Repository RocketSurgeonsGuild/Blazor.FontAwesome5: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

Update dependency nuke.globaltool to v6.0.2
  .config/dotnet-tools.json
Due: prettier --write

Update dependency Nuke.Common to v6.0.2
  Directory.Packages.props
Due: none

Update renovate.json
  .github/renovate.json
Due: prettier --write

Update dotnet monorepo
  Directory.Packages.props
  Directory.Packages.support.props
Due: none

Update dotnet monorepo
  Directory.Packages.support.props
Due: none

Update dotnet monorepo (minor / patch only)
  Directory.Packages.props
  Directory.Packages.support.props
Due: none

Update dotnet monorepo [minor/patch]
  Directory.Packages.props
  Directory.Packages.support.props
Due: none

Disable dependabot
  .github/dependabot.yml
Due: prettier --write

Update gitversion to v5.10.0
  .config/dotnet-tools.json
  Directory.Packages.props
Due: prettier --write

Update Rocket Surgery Testing to v7
  Directory.Packages.props
Due: none

Update actions/checkout action to v3.0.1
  .github/workflows/ci.yml
  .github/workflows/fontawesome.yml
Due: prettier --write

Update gitversion to v5.10.1
  .config/dotnet-tools.json
  Directory.Packages.props
Due: prettier --write

Update dependency lint-staged to v12.3.8
  package-lock.json
  package.json
Due: prettier --write

Update RocketSurgeonsGuild/actions action to v0.3.1
  .github/workflows/ci.yml
  .github/workflows/close-milestone.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/draft-release.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-milestone.yml
Due: prettier --write

Update dependency @prettier/plugin-xml to v2.1.0
  package-lock.json
  package.json
Due: prettier --write

Update dependency jetbrains.resharper.globaltools to v2022
  .config/dotnet-tools.json
Due: prettier --write

Update dependency lint-staged to v12.4.0
  package-lock.json
  package.json
Due: prettier --write

Update github actions
  .github/workflows/ci.yml
  .github/workflows/fontawesome.yml
Due: prettier --write

Fixed a few warnings that were being set
  .build/Build.cs
  .build/SyncMetadata.cs
  src/.editorconfig
  src/Blazor.FontAwesome5.Brands/Fab.cs
  src/Blazor.FontAwesome5.Free.Regular/Far.cs
  src/Blazor.FontAwesome5.Free.Regular/Rocket.Surgery.Blazor.FontAwesome5.Free.Regular.csproj
  src/Blazor.FontAwesome5.Free.Solid/Fas.cs
  src/Blazor.FontAwesome5.Free.Solid/Rocket.Surgery.Blazor.FontAwesome5.Free.Solid.csproj
  src/Blazor.FontAwesome5.Pro.Duotone/Fad.cs
  src/Blazor.FontAwesome5.Pro.Duotone/Rocket.Surgery.Blazor.FontAwesome5.Pro.Duotone.csproj
  src/Blazor.FontAwesome5.Pro.Light/Fal.cs
  src/Blazor.FontAwesome5.Pro.Light/Rocket.Surgery.Blazor.FontAwesome5.Pro.Light.csproj
  src/Blazor.FontAwesome5.Pro.Regular/Far.cs
  src/Blazor.FontAwesome5.Pro.Regular/Rocket.Surgery.Blazor.FontAwesome5.Pro.Regular.csproj
  src/Blazor.FontAwesome5.Pro.Solid/Fas.cs
  src/Blazor.FontAwesome5.Pro.Solid/Rocket.Surgery.Blazor.FontAwesome5.Pro.Solid.csproj
  src/Blazor.FontAwesome5/FaCounter.cs
  src/Blazor.FontAwesome5/FaIcon.cs
  src/Blazor.FontAwesome5/FaLayer.cs
  src/Blazor.FontAwesome5/FaStack.cs
  src/Blazor.FontAwesome5/FaText.cs
  src/Blazor.FontAwesome5/FontAwesomeAttribute.cs
  src/Blazor.FontAwesome5/IconRotate.cs
  src/Blazor.FontAwesome5/IconSize.cs
  src/Blazor.FontAwesome5/Shared/ITransformIcon.cs
  src/Blazor.FontAwesome5/Shared/Icon.cs
  src/Directory.Build.props
  test/Blazor.FontAwesome5.Tests/ComponentTestHelpers.cs
  test/Blazor.FontAwesome5.Tests/FaLayerTests.cs
  test/Blazor.FontAwesome5.Tests/IconTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Fixed a few warnings that were being set (#546)
  .build/Build.cs
  .build/SyncMetadata.cs
  src/.editorconfig
  src/Blazor.FontAwesome5.Brands/Fab.cs
  src/Blazor.FontAwesome5.Free.Regular/Far.cs
  src/Blazor.FontAwesome5.Free.Regular/Rocket.Surgery.Blazor.FontAwesome5.Free.Regular.csproj
  src/Blazor.FontAwesome5.Free.Solid/Fas.cs
  src/Blazor.FontAwesome5.Free.Solid/Rocket.Surgery.Blazor.FontAwesome5.Free.Solid.csproj
  src/Blazor.FontAwesome5.Pro.Duotone/Fad.cs
  src/Blazor.FontAwesome5.Pro.Duotone/Rocket.Surgery.Blazor.FontAwesome5.Pro.Duotone.csproj
  src/Blazor.FontAwesome5.Pro.Light/Fal.cs
  src/Blazor.FontAwesome5.Pro.Light/Rocket.Surgery.Blazor.FontAwesome5.Pro.Light.csproj
  src/Blazor.FontAwesome5.Pro.Regular/Far.cs
  src/Blazor.FontAwesome5.Pro.Regular/Rocket.Surgery.Blazor.FontAwesome5.Pro.Regular.csproj
  src/Blazor.FontAwesome5.Pro.Solid/Fas.cs
  src/Blazor.FontAwesome5.Pro.Solid/Rocket.Surgery.Blazor.FontAwesome5.Pro.Solid.csproj
  src/Blazor.FontAwesome5/FaCounter.cs
  src/Blazor.FontAwesome5/FaIcon.cs
  src/Blazor.FontAwesome5/FaLayer.cs
  src/Blazor.FontAwesome5/FaStack.cs
  src/Blazor.FontAwesome5/FaText.cs
  src/Blazor.FontAwesome5/FontAwesomeAttribute.cs
  src/Blazor.FontAwesome5/IconRotate.cs
  src/Blazor.FontAwesome5/IconSize.cs
  src/Blazor.FontAwesome5/Shared/ITransformIcon.cs
  src/Blazor.FontAwesome5/Shared/Icon.cs
  src/Directory.Build.props
  test/Blazor.FontAwesome5.Tests/ComponentTestHelpers.cs
  test/Blazor.FontAwesome5.Tests/FaLayerTests.cs
  test/Blazor.FontAwesome5.Tests/IconTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated to fix sync issues
  .build/SyncMetadata.cs
  .lintstagedrc.js
  src/Blazor.FontAwesome5.Brands/Fab.cs
  src/Blazor.FontAwesome5.Free.Regular/Far.cs
  src/Blazor.FontAwesome5.Free.Solid/Fas.cs
  src/Blazor.FontAwesome5.Pro.Duotone/Fad.cs
  src/Blazor.FontAwesome5.Pro.Light/Fal.cs
  src/Blazor.FontAwesome5.Pro.Regular/Far.cs
  src/Blazor.FontAwesome5.Pro.Solid/Fas.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated to fix sync issues (#547)
  .build/SyncMetadata.cs
  .lintstagedrc.js
  src/Blazor.FontAwesome5.Brands/Fab.cs
  src/Blazor.FontAwesome5.Free.Regular/Far.cs
  src/Blazor.FontAwesome5.Free.Solid/Fas.cs
  src/Blazor.FontAwesome5.Pro.Duotone/Fad.cs
  src/Blazor.FontAwesome5.Pro.Light/Fal.cs
  src/Blazor.FontAwesome5.Pro.Regular/Far.cs
  src/Blazor.FontAwesome5.Pro.Solid/Fas.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Update dependency lint-staged to v12.4.1
  package-lock.json
  package.json
Due: prettier --write

fixed alias to correctly use the primary style name
  .build/SyncMetadata.cs
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Free.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Free.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
  src/Blazor.FontAwesome6/FaCounter.cs
  src/Blazor.FontAwesome6/FaIcon.cs
  src/Blazor.FontAwesome6/Shared/ITransformIcon.cs
  src/Blazor.FontAwesome6/Shared/Icon.cs
  test/Blazor.FontAwesome6.Tests/FaIconTests.cs
  test/Blazor.FontAwesome6.Tests/FaLayerTests.cs
  test/Blazor.FontAwesome6.Tests/FaStackTests.cs
  test/Blazor.FontAwesome6.Tests/IconTests.cs
Due: dotnet nuke lint --no-logo --lint-files

Update reportgenerator to v5.1.5
  .config/dotnet-tools.json
  Directory.Packages.props
Due: prettier --write

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
