Repository RocketSurgeonsGuild/Blazor.FontAwesome5: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

Update dependency nuke.globaltool to v6.1.0
  .config/dotnet-tools.json
Due: prettier --write

Update dependency Nuke.Common to v6.1.0
  Directory.Packages.props
Due: none

Update dotnet monorepo [minor/patch]
  Directory.Packages.props
  Directory.Packages.support.props
Due: none

[create-pull-request] automated change
  .nuke/build.schema.json
Due: prettier --write

[create-pull-request] automated change (#594)
  .nuke/build.schema.json
Due: prettier --write

Update dependency prettier to v2.7.1
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v13.0.2
  package-lock.json
  package.json
Due: prettier --write

[create-pull-request] automated change
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Free.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Free.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change (#609)
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Free.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Free.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change
  src/Blazor.FontAwesome6.Free.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Free.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change (#621)
  src/Blazor.FontAwesome6.Free.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Free.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Free.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change (#655)
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Free.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated trigger name
  .build/Build.CI.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change (#698)
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Free.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Free.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change (#719)
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change (#783)
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated prettier config
  .lintstagedrc.js
  .prettierrc
  Directory.Build.targets
  Directory.Packages.props
  package-lock.json
  package.json
Due: prettier --write

Fixed nuke build
  .build/Build.CI.cs
  .build/Build.cs
  .github/workflows/ci-ignore.yml
  .github/workflows/ci.yml
  .nuke/build.schema.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated dotnet tools
  .config/dotnet-tools.json
Due: prettier --write

Update how assignments work
  .github/renovate.json
Due: prettier --write

added net8.0 target frameworks
  .build/Build.CI.cs
  .github/workflows/ci-ignore.yml
  .github/workflows/ci.yml
  Directory.Packages.props
  Directory.Packages.support.props
  src/Blazor.FontAwesome5.Brands/Rocket.Surgery.Blazor.FontAwesome5.Brands.csproj
  src/Blazor.FontAwesome5.Free.Regular/Rocket.Surgery.Blazor.FontAwesome5.Free.Regular.csproj
  src/Blazor.FontAwesome5.Free.Solid/Rocket.Surgery.Blazor.FontAwesome5.Free.Solid.csproj
  src/Blazor.FontAwesome5.Free/Rocket.Surgery.Blazor.FontAwesome5.Free.csproj
  src/Blazor.FontAwesome5.Pro.Duotone/Rocket.Surgery.Blazor.FontAwesome5.Pro.Duotone.csproj
  src/Blazor.FontAwesome5.Pro.Light/Rocket.Surgery.Blazor.FontAwesome5.Pro.Light.csproj
  src/Blazor.FontAwesome5.Pro.Regular/Rocket.Surgery.Blazor.FontAwesome5.Pro.Regular.csproj
  src/Blazor.FontAwesome5.Pro.Solid/Rocket.Surgery.Blazor.FontAwesome5.Pro.Solid.csproj
  src/Blazor.FontAwesome5.Pro/Rocket.Surgery.Blazor.FontAwesome5.Pro.csproj
  src/Blazor.FontAwesome5/Rocket.Surgery.Blazor.FontAwesome5.csproj
  src/Blazor.FontAwesome6.Brands/Rocket.Surgery.Blazor.FontAwesome6.Brands.csproj
  src/Blazor.FontAwesome6.Free.Regular/Rocket.Surgery.Blazor.FontAwesome6.Free.Regular.csproj
  src/Blazor.FontAwesome6.Free.Solid/Rocket.Surgery.Blazor.FontAwesome6.Free.Solid.csproj
  src/Blazor.FontAwesome6.Free/Rocket.Surgery.Blazor.FontAwesome6.Free.csproj
  src/Blazor.FontAwesome6.Pro.Duotone/Rocket.Surgery.Blazor.FontAwesome6.Pro.Duotone.csproj
  src/Blazor.FontAwesome6.Pro.Light/Rocket.Surgery.Blazor.FontAwesome6.Pro.Light.csproj
  src/Blazor.FontAwesome6.Pro.Regular/Rocket.Surgery.Blazor.FontAwesome6.Pro.Regular.csproj
  src/Blazor.FontAwesome6.Pro.Solid/Rocket.Surgery.Blazor.FontAwesome6.Pro.Solid.csproj
  src/Blazor.FontAwesome6.Pro.Thin/Rocket.Surgery.Blazor.FontAwesome6.Pro.Thin.csproj
  src/Blazor.FontAwesome6.Pro/Rocket.Surgery.Blazor.FontAwesome6.Pro.csproj
  src/Blazor.FontAwesome6/Rocket.Surgery.Blazor.FontAwesome6.csproj
  test/Blazor.FontAwesome5.Tests/Rocket.Surgery.Blazor.FontAwesome5.Tests.csproj
  test/Blazor.FontAwesome6.Tests/Rocket.Surgery.Blazor.FontAwesome6.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

added net8.0 target frameworks (#849)
  .build/Build.CI.cs
  .github/workflows/ci-ignore.yml
  .github/workflows/ci.yml
  Directory.Packages.props
  Directory.Packages.support.props
  src/Blazor.FontAwesome5.Brands/Rocket.Surgery.Blazor.FontAwesome5.Brands.csproj
  src/Blazor.FontAwesome5.Free.Regular/Rocket.Surgery.Blazor.FontAwesome5.Free.Regular.csproj
  src/Blazor.FontAwesome5.Free.Solid/Rocket.Surgery.Blazor.FontAwesome5.Free.Solid.csproj
  src/Blazor.FontAwesome5.Free/Rocket.Surgery.Blazor.FontAwesome5.Free.csproj
  src/Blazor.FontAwesome5.Pro.Duotone/Rocket.Surgery.Blazor.FontAwesome5.Pro.Duotone.csproj
  src/Blazor.FontAwesome5.Pro.Light/Rocket.Surgery.Blazor.FontAwesome5.Pro.Light.csproj
  src/Blazor.FontAwesome5.Pro.Regular/Rocket.Surgery.Blazor.FontAwesome5.Pro.Regular.csproj
  src/Blazor.FontAwesome5.Pro.Solid/Rocket.Surgery.Blazor.FontAwesome5.Pro.Solid.csproj
  src/Blazor.FontAwesome5.Pro/Rocket.Surgery.Blazor.FontAwesome5.Pro.csproj
  src/Blazor.FontAwesome5/Rocket.Surgery.Blazor.FontAwesome5.csproj
  src/Blazor.FontAwesome6.Brands/Rocket.Surgery.Blazor.FontAwesome6.Brands.csproj
  src/Blazor.FontAwesome6.Free.Regular/Rocket.Surgery.Blazor.FontAwesome6.Free.Regular.csproj
  src/Blazor.FontAwesome6.Free.Solid/Rocket.Surgery.Blazor.FontAwesome6.Free.Solid.csproj
  src/Blazor.FontAwesome6.Free/Rocket.Surgery.Blazor.FontAwesome6.Free.csproj
  src/Blazor.FontAwesome6.Pro.Duotone/Rocket.Surgery.Blazor.FontAwesome6.Pro.Duotone.csproj
  src/Blazor.FontAwesome6.Pro.Light/Rocket.Surgery.Blazor.FontAwesome6.Pro.Light.csproj
  src/Blazor.FontAwesome6.Pro.Regular/Rocket.Surgery.Blazor.FontAwesome6.Pro.Regular.csproj
  src/Blazor.FontAwesome6.Pro.Solid/Rocket.Surgery.Blazor.FontAwesome6.Pro.Solid.csproj
  src/Blazor.FontAwesome6.Pro.Thin/Rocket.Surgery.Blazor.FontAwesome6.Pro.Thin.csproj
  src/Blazor.FontAwesome6.Pro/Rocket.Surgery.Blazor.FontAwesome6.Pro.csproj
  src/Blazor.FontAwesome6/Rocket.Surgery.Blazor.FontAwesome6.csproj
  test/Blazor.FontAwesome5.Tests/Rocket.Surgery.Blazor.FontAwesome5.Tests.csproj
  test/Blazor.FontAwesome6.Tests/Rocket.Surgery.Blazor.FontAwesome6.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

added ci linting with autofix
  .build/Build.CI.cs
  .build/Build.cs
  .config/dotnet-tools.json
  .editorconfig
  .github/workflows/ci-ignore.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .husky/pre-commit
  .lintstagedrc.js
  .nuke/build.schema.json
  .prettierignore
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  FontAwesome5.sln
  FontAwesome5.sln.DotSettings
  package.json
  src/Blazor.FontAwesome5/FaCounter.cs
  src/Blazor.FontAwesome5/FaIcon.cs
  src/Blazor.FontAwesome5/FaLayer.cs
  src/Blazor.FontAwesome5/FaStack.cs
  src/Blazor.FontAwesome5/FaText.cs
  src/Blazor.FontAwesome5/FontAwesomeAttribute.cs
  src/Blazor.FontAwesome5/IconCounterPosition.cs
  src/Blazor.FontAwesome5/IconFlip.cs
  src/Blazor.FontAwesome5/IconPull.cs
  src/Blazor.FontAwesome5/IconStyle.cs
  src/Blazor.FontAwesome5/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5/Rocket.Surgery.Blazor.FontAwesome5.csproj
  src/Blazor.FontAwesome5/Shared/Icon.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

added ci linting with autofix
  src/Blazor.FontAwesome5.Brands/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Brands/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Free.Regular/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Free.Regular/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Free.Solid/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Free.Solid/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Free/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Free/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Pro.Duotone/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Pro.Duotone/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Pro.Light/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Pro.Light/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Pro.Regular/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Pro.Regular/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Pro.Solid/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Pro.Solid/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Pro/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Pro/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome6.Brands/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome6.Brands/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome6.Free/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome6.Free/PublicAPI.Unshipped.txt
Due: none

yeah not everything needs to be public!
  .github/workflows/lint.yml
  package-lock.json
  src/Blazor.FontAwesome5.Brands/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Brands/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Free.Regular/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Free.Regular/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Free.Solid/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Free.Solid/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Free/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Free/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Pro.Duotone/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Pro.Duotone/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Pro.Light/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Pro.Light/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Pro.Regular/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Pro.Regular/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Pro.Solid/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Pro.Solid/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5.Pro/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5.Pro/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome6.Brands/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome6.Brands/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome6.Free/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome6.Free/PublicAPI.Unshipped.txt
Due: prettier --write

added ci linting with autofix (#861)
  .build/Build.CI.cs
  .build/Build.cs
  .config/dotnet-tools.json
  .editorconfig
  .github/workflows/ci-ignore.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .husky/pre-commit
  .lintstagedrc.js
  .nuke/build.schema.json
  .prettierignore
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  FontAwesome5.sln
  FontAwesome5.sln.DotSettings
  package-lock.json
  package.json
  src/Blazor.FontAwesome5/FaCounter.cs
  src/Blazor.FontAwesome5/FaIcon.cs
  src/Blazor.FontAwesome5/FaLayer.cs
  src/Blazor.FontAwesome5/FaStack.cs
  src/Blazor.FontAwesome5/FaText.cs
  src/Blazor.FontAwesome5/FontAwesomeAttribute.cs
  src/Blazor.FontAwesome5/IconCounterPosition.cs
  src/Blazor.FontAwesome5/IconFlip.cs
  src/Blazor.FontAwesome5/IconPull.cs
  src/Blazor.FontAwesome5/IconStyle.cs
  src/Blazor.FontAwesome5/PublicAPI.Shipped.txt
  src/Blazor.FontAwesome5/PublicAPI.Unshipped.txt
  src/Blazor.FontAwesome5/Rocket.Surgery.Blazor.FontAwesome5.csproj
  src/Blazor.FontAwesome5/Shared/Icon.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Editor config updates
  .editorconfig
  FontAwesome5.sln.DotSettings
Due: none

Editor config updates (#865)
  .editorconfig
  FontAwesome5.sln.DotSettings
Due: none

[create-pull-request] automated change
  .nuke/build.schema.json
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Free.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

[create-pull-request] automated change (#869)
  .nuke/build.schema.json
  src/Blazor.FontAwesome6.Brands/FaBrands.cs
  src/Blazor.FontAwesome6.Free.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Duotone/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro.Light/FaLight.cs
  src/Blazor.FontAwesome6.Pro.Regular/FaRegular.cs
  src/Blazor.FontAwesome6.Pro.Solid/FaSolid.cs
  src/Blazor.FontAwesome6.Pro.Thin/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated editorconfig
  .editorconfig
  .github/workflows/lint.yml
Due: prettier --write

Updated editorconfig
  .husky/pre-commit
Due: none

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
