Repository RocketSurgeonsGuild/Blazor.FontAwesome5: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

.lintstagedrc:

{
    "*.{cs,vb}": ["dotnet nuke lint --no-logo --lint-files", "git add"],
    "*.{js,ts,jsx,tsx,json,yml,yaml}": ["prettier --write", "git add"]
}

logic for dependabot merging
  .mergify.yml
Due: prettier --write

logic for dependabot merging
  .github/label-commenter-dependabot.yml
  .github/workflows/dependabot-merge.yml
Due: prettier --write

logic for dependabot merging (#92)
  .github/label-commenter-dependabot.yml
  .github/workflows/dependabot-merge.yml
  .mergify.yml
Due: prettier --write

Updated services
  Packages.props
  Packages.support.props
Due: none

Updated print width config
  .editorconfig
  .prettierrc
Due: none

Updated directory props
  Directory.Build.props
Due: none

Updated to latest packages
  Packages.props
Due: none

Updated to latest packages (#102)
  Packages.props
Due: none

Removed extra rulesets
  .editorconfig.ruleset
  Directory.Build.targets
  Packages.props
  test/Directory.Build.targets
Due: none

Updated nuke to latest alpha
  Packages.props
Due: none

Updated nuke to latest alpha (#107)
  Packages.props
Due: none

Updated nuke build to ensure readme is generated
  .build/Build.cs
  Packages.props
Due: dotnet nuke lint --no-logo --lint-files

Updated readme
  README.md
Due: none

Updated nuke build to ensure readme is generated (#112)
  .build/Build.cs
  Packages.props
  README.md
Due: dotnet nuke lint --no-logo --lint-files

Turned on strict mode and enabled langauge preview
  Directory.Build.props
Due: none

Turned on strict mode and enabled langauge preview
  .github/workflows/dependabot-merge.yml
  .github/workflows/update-milestone.yml
Due: prettier --write

Feature/strict preview (#121)
  .github/workflows/dependabot-merge.yml
  .github/workflows/update-milestone.yml
  Directory.Build.props
Due: prettier --write

Updated mergify and other configs
  .editorconfig
  .github/workflows/dependabot-merge.yml
  .mergify.yml
  FontAwesome5.sln.DotSettings
  GitReleaseManager.yaml
Due: prettier --write

Updated mergify and other configs (#143)
  .editorconfig
  .github/workflows/dependabot-merge.yml
  .mergify.yml
  FontAwesome5.sln.DotSettings
  GitReleaseManager.yaml
Due: prettier --write

Updated ci to not fail if coverage fails to upload
  .build/Build.CI.cs
  .github/workflows/ci.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated ci to not fail if coverage fails to upload (#144)
  .build/Build.CI.cs
  .github/workflows/ci.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated build, added public package store on azure devops.
  .build/Build.CI.cs
  .github/workflows/ci.yml
  .gitignore
  NuGet.config
  azure-pipelines.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated build, added public package store on azure devops. (#161)
  .build/Build.CI.cs
  .github/workflows/ci.yml
  .gitignore
  NuGet.config
  azure-pipelines.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

[create-pull-request] automated change (#166)
  src/Blazor.FontAwesome5.Brands/Fab.cs
  src/Blazor.FontAwesome5.Free.Solid/Fas.cs
  src/Blazor.FontAwesome5.Pro.Duotone/Fad.cs
  src/Blazor.FontAwesome5.Pro.Light/Fal.cs
  src/Blazor.FontAwesome5.Pro.Regular/Far.cs
  src/Blazor.FontAwesome5.Pro.Solid/Fas.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated to net50 and net50 sdk
  .build/.build.csproj
  .build/Build.CI.cs
  .github/workflows/ci.yml
  .github/workflows/fontawesome.yml
  NuGet.config
  Packages.props
  Packages.support.props
  README.md
  azure-pipelines.yml
  package-lock.json
  src/Blazor.FontAwesome5.Brands/Rocket.Surgery.Blazor.FontAwesome5.Brands.csproj
  src/Blazor.FontAwesome5.Free.Regular/Rocket.Surgery.Blazor.FontAwesome5.Free.Regular.csproj
  src/Blazor.FontAwesome5.Free.Solid/Rocket.Surgery.Blazor.FontAwesome5.Free.Solid.csproj
  src/Blazor.FontAwesome5.Free/Rocket.Surgery.Blazor.FontAwesome5.Free.csproj
  src/Blazor.FontAwesome5.Pro.Duotone/Rocket.Surgery.Blazor.FontAwesome5.Pro.Duotone.csproj
  src/Blazor.FontAwesome5.Pro.Light/Rocket.Surgery.Blazor.FontAwesome5.Pro.Light.csproj
  src/Blazor.FontAwesome5.Pro.Regular/Rocket.Surgery.Blazor.FontAwesome5.Pro.Regular.csproj
  src/Blazor.FontAwesome5.Pro.Solid/Rocket.Surgery.Blazor.FontAwesome5.Pro.Solid.csproj
  src/Blazor.FontAwesome5.Pro/Rocket.Surgery.Blazor.FontAwesome5.Pro.csproj
  src/Blazor.FontAwesome5/Rocket.Surgery.Blazor.FontAwesome5.csproj
  test/Blazor.FontAwesome5.Tests/Rocket.Surgery.Blazor.FontAwesome5.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated analysis configuration
  .build/.build.csproj
  .mergify.yml
  Directory.Build.props
  GitVersion.yml
  NuGet.config
  Packages.props
  package-lock.json
Due: prettier --write

Updated analysis configuration (#208)
  .build/.build.csproj
  .mergify.yml
  Directory.Build.props
  GitVersion.yml
  NuGet.config
  Packages.props
  package-lock.json
Due: prettier --write

removed azure pipelines support
  .build/Build.CI.cs
  .github/workflows/publish-nuget.yml
  azure-pipelines.nuke.yml
  azure-pipelines.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

removed azure pipelines support (#209)
  .build/Build.CI.cs
  .github/workflows/publish-nuget.yml
  azure-pipelines.nuke.yml
  azure-pipelines.yml
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated readme and publish nuget workflow
  .github/workflows/publish-nuget.yml
  README.md
Due: prettier --write

Updated publish to include source
  .github/workflows/publish-nuget.yml
Due: prettier --write

[create-pull-request] automated change
  src/Blazor.FontAwesome5.Brands/Fab.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change (#240)
  src/Blazor.FontAwesome5.Brands/Fab.cs
Due: dotnet nuke lint --no-logo --lint-files

Upgraded nuke to latest version
  .build/.build.csproj
  .config/dotnet-tools.json
  .gitignore
  .nuke
  .nuke/build.schema.json
  .nuke/parameters.json
  Directory.Build.props
  Packages.props
  README.md
  build.cmd
  build.ps1
  build.sh
Due: prettier --write

Updated 5
  .github/workflows/ci.yml
Due: prettier --write

Updated to net6 sdk
  .build/.build.csproj
  .build/Build.CI.cs
  .build/Build.cs
  .config/dotnet-tools.json
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/close-milestone.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/draft-release.yml
  .github/workflows/publish-nuget.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-milestone.yml
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .lintstagedrc.js
  .mergify.yml
  Directory.Build.props
  build.ps1
  build.sh
  package-lock.json
  package.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Removed jetbrains tools
  Packages.props
Due: none

feature/net6 (#373)
  .build/.build.csproj
  .build/Build.CI.cs
  .build/Build.cs
  .config/dotnet-tools.json
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/close-milestone.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/draft-release.yml
  .github/workflows/publish-nuget.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-milestone.yml
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .lintstagedrc.js
  .mergify.yml
  Directory.Build.props
  Packages.props
  build.ps1
  build.sh
  package-lock.json
  package.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated dependabot logic
  .github/workflows/dependabot-merge.yml
Due: prettier --write
