Repository RocketSurgeonsGuild/Blazor.FontAwesome5: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

Automatically linting code
  Directory.Packages.props
Due: none

Automatically linting code
  Directory.Packages.support.props
Due: none

Automatically linting code
  .nuke/build.schema.json
Due: prettier --write

initial net9
  .build/.build.csproj
  .build/Build.CI.cs
  .build/Build.cs
  .config/dotnet-tools.json
  .editorconfig
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .nuke/build.schema.json
  Directory.Packages.props
  Directory.Packages.support.props
  global.json
  sample/BlazorWasm/BlazorWasm.csproj
  src/Blazor.FontAwesome.Tool/Rocket.Surgery.Blazor.FontAwesome.Tool.csproj
  src/Blazor.FontAwesome6.Free.Svg/Rocket.Surgery.Blazor.FontAwesome6.Free.Svg.csproj
  src/Blazor.FontAwesome6.Free/Rocket.Surgery.Blazor.FontAwesome6.Free.csproj
  src/Blazor.FontAwesome6.Pro/Rocket.Surgery.Blazor.FontAwesome6.Pro.csproj
  src/Blazor.FontAwesome6/Rocket.Surgery.Blazor.FontAwesome6.csproj
  test/Blazor.FontAwesome6.Tests/FaIconTests.cs
  test/Blazor.FontAwesome6.Tests/FaSvgIconTests.cs
  test/Blazor.FontAwesome6.Tests/IconTests.cs
  test/Blazor.FontAwesome6.Tests/ModuleInitializer.cs
  test/Blazor.FontAwesome6.Tests/Rocket.Surgery.Blazor.FontAwesome6.Tests.csproj
  test/Blazor.FontAwesome6.Tests/SvgIconTests.cs
  test/Directory.Build.targets
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

initial net9 (#1364)
  .build/.build.csproj
  .build/Build.CI.cs
  .build/Build.cs
  .config/dotnet-tools.json
  .editorconfig
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .nuke/build.schema.json
  Directory.Packages.props
  Directory.Packages.support.props
  global.json
  sample/BlazorWasm/BlazorWasm.csproj
  src/Blazor.FontAwesome.Tool/Rocket.Surgery.Blazor.FontAwesome.Tool.csproj
  src/Blazor.FontAwesome6.Free.Svg/Rocket.Surgery.Blazor.FontAwesome6.Free.Svg.csproj
  src/Blazor.FontAwesome6.Free/Rocket.Surgery.Blazor.FontAwesome6.Free.csproj
  src/Blazor.FontAwesome6.Pro/Rocket.Surgery.Blazor.FontAwesome6.Pro.csproj
  src/Blazor.FontAwesome6/Rocket.Surgery.Blazor.FontAwesome6.csproj
  test/Blazor.FontAwesome6.Tests/FaIconTests.cs
  test/Blazor.FontAwesome6.Tests/FaSvgIconTests.cs
  test/Blazor.FontAwesome6.Tests/IconTests.cs
  test/Blazor.FontAwesome6.Tests/ModuleInitializer.cs
  test/Blazor.FontAwesome6.Tests/Rocket.Surgery.Blazor.FontAwesome6.Tests.csproj
  test/Blazor.FontAwesome6.Tests/SvgIconTests.cs
  test/Directory.Build.targets
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Automatically linting code
  .github/workflows/ci.yml
Due: prettier --write

Automatically linting code
  src/Blazor.FontAwesome6.Free.Svg/Icons/FaBrands.g.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated to the latest nuke packages
  .build/Build.CI.cs
  .build/Build.cs
  .build/SyncMetadata.cs
  .config/dotnet-tools.json
  .github/workflows/ci.yml
  .github/workflows/close-milestone.yml
  .github/workflows/draft-release.yml
  .github/workflows/publish-nuget.yml
  .github/workflows/update-milestone.yml
  Directory.Packages.props
  FontAwesome5.sln
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Automatically linting code
  .github/workflows/publish-nuget.yml
Due: prettier --write

Automatically linting code
  .github/workflows/lint.yml
  .github/workflows/publish-nuget.yml
  Directory.Packages.props
Due: prettier --write

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
