Repository RocketSurgeonsGuild/Blazor.FontAwesome5: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated packages
  Packages.props
Due: none

Added implicit usings
  Directory.Build.props
  src/Blazor.FontAwesome5/FaCounter.cs
  src/Blazor.FontAwesome5/FaIcon.cs
  src/Blazor.FontAwesome5/FaLayer.cs
  src/Blazor.FontAwesome5/FaStack.cs
  src/Blazor.FontAwesome5/FaText.cs
  src/Blazor.FontAwesome5/FontAwesomeAttribute.cs
  src/Blazor.FontAwesome5/IconFlip.cs
  src/Blazor.FontAwesome5/Shared/ITransformIcon.cs
  src/Blazor.FontAwesome5/Shared/Icon.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated workflow
  .github/workflows/fontawesome.yml
Due: prettier --write

Updated dependencies
  .github/workflows/dependabot-merge.yml
  Packages.props
Due: prettier --write

[create-pull-request] automated change
  .nuke/build.schema.json
Due: prettier --write

[create-pull-request] automated change (#402)
  .nuke/build.schema.json
Due: prettier --write

finished net6 update
  .build/Build.CI.cs
  .github/workflows/ci-ignore.yml
  .github/workflows/ci.yml
  .github/workflows/close-milestone.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/draft-release.yml
  .github/workflows/fontawesome.yml
  .github/workflows/publish-nuget.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-milestone.yml
  Packages.props
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

feature/net60 (#424)
  .build/Build.CI.cs
  .github/workflows/ci-ignore.yml
  .github/workflows/ci.yml
  .github/workflows/close-milestone.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/draft-release.yml
  .github/workflows/fontawesome.yml
  .github/workflows/publish-nuget.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-milestone.yml
  .nuke/build.schema.json
  Packages.props
  Packages.support.props
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

[create-pull-request] automated change (#427)
  .nuke/build.schema.json
Due: prettier --write

Updated to latest nuke packages
  .config/dotnet-tools.json
  Packages.props
Due: prettier --write

Removed net5.0 targets
  .build/Build.CI.cs
  .config/dotnet-tools.json
  Packages.support.props
  src/Blazor.FontAwesome5.Brands/Rocket.Surgery.Blazor.FontAwesome5.Brands.csproj
  src/Blazor.FontAwesome5.Free.Regular/Rocket.Surgery.Blazor.FontAwesome5.Free.Regular.csproj
  src/Blazor.FontAwesome5.Free.Solid/Rocket.Surgery.Blazor.FontAwesome5.Free.Solid.csproj
  src/Blazor.FontAwesome5.Free/Rocket.Surgery.Blazor.FontAwesome5.Free.csproj
  src/Blazor.FontAwesome5.Pro.Duotone/Rocket.Surgery.Blazor.FontAwesome5.Pro.Duotone.csproj
  src/Blazor.FontAwesome5.Pro.Light/Rocket.Surgery.Blazor.FontAwesome5.Pro.Light.csproj
  src/Blazor.FontAwesome5.Pro.Regular/Rocket.Surgery.Blazor.FontAwesome5.Pro.Regular.csproj
  src/Blazor.FontAwesome5.Pro.Solid/Rocket.Surgery.Blazor.FontAwesome5.Pro.Solid.csproj
  src/Blazor.FontAwesome5.Pro/Rocket.Surgery.Blazor.FontAwesome5.Pro.csproj
  src/Blazor.FontAwesome5/Rocket.Surgery.Blazor.FontAwesome5.csproj
  test/Blazor.FontAwesome5.Tests/Rocket.Surgery.Blazor.FontAwesome5.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Removed net5.0 targets (#433)
  .build/Build.CI.cs
  .config/dotnet-tools.json
  Packages.support.props
  src/Blazor.FontAwesome5.Brands/Rocket.Surgery.Blazor.FontAwesome5.Brands.csproj
  src/Blazor.FontAwesome5.Free.Regular/Rocket.Surgery.Blazor.FontAwesome5.Free.Regular.csproj
  src/Blazor.FontAwesome5.Free.Solid/Rocket.Surgery.Blazor.FontAwesome5.Free.Solid.csproj
  src/Blazor.FontAwesome5.Free/Rocket.Surgery.Blazor.FontAwesome5.Free.csproj
  src/Blazor.FontAwesome5.Pro.Duotone/Rocket.Surgery.Blazor.FontAwesome5.Pro.Duotone.csproj
  src/Blazor.FontAwesome5.Pro.Light/Rocket.Surgery.Blazor.FontAwesome5.Pro.Light.csproj
  src/Blazor.FontAwesome5.Pro.Regular/Rocket.Surgery.Blazor.FontAwesome5.Pro.Regular.csproj
  src/Blazor.FontAwesome5.Pro.Solid/Rocket.Surgery.Blazor.FontAwesome5.Pro.Solid.csproj
  src/Blazor.FontAwesome5.Pro/Rocket.Surgery.Blazor.FontAwesome5.Pro.csproj
  src/Blazor.FontAwesome5/Rocket.Surgery.Blazor.FontAwesome5.csproj
  test/Blazor.FontAwesome5.Tests/Rocket.Surgery.Blazor.FontAwesome5.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated auto merge configuration and moved to using ManagePackageVersionsCentrally
  .github/dependabot.yml
  .github/label-commenter-dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/close-milestone.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/draft-release.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-milestone.yml
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  Directory.Packages.support.props
  GitReleaseManager.yaml
  Packages.props
  Packages.support.props
  nukeeper.settings.json
Due: prettier --write

Updated auto merge configuration and moved to using ManagePackageVersionsCentrally (#434)
  .github/dependabot.yml
  .github/label-commenter-dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/close-milestone.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/draft-release.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-milestone.yml
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  Directory.Packages.support.props
  GitReleaseManager.yaml
  Packages.props
  Packages.support.props
  nukeeper.settings.json
Due: prettier --write

Updated dependabot merge workflow to include synchronize
  .github/workflows/dependabot-merge.yml
Due: prettier --write

Updated dependabot merge workflow to include synchronize (#438)
  .github/workflows/dependabot-merge.yml
Due: prettier --write

Updated draft release to run nightly
  .github/workflows/draft-release.yml
Due: prettier --write

Updated draft release to run nightly (#439)
  .github/workflows/draft-release.yml
Due: prettier --write

Update packages in a batch
  Directory.Packages.props
Due: none

bumped workflows
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/close-milestone.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/draft-release.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-milestone.yml
Due: prettier --write

Updated prettier ignore
  .prettierignore
Due: none

Updated pre-commit to generate ci
  .build/Build.CI.cs
  .github/workflows/ci-ignore.yml
  .github/workflows/ci.yml
  .husky/pre-commit
  Directory.Packages.props
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated pre-commit to support updating the nuke build schema
  .husky/pre-commit
Due: none

Add renovate.json
  renovate.json
Due: prettier --write

Updated renovate configuration
  .github/renovate.json
  renovate.json
Due: prettier --write

Pin dependencies
  package.json
Due: prettier --write

Update dependency Microsoft.CodeAnalysis.CSharp to v4.1.0
  Directory.Packages.props
Due: none

Update dependency bunit to v1.5.12
  Directory.Packages.props
Due: none

Update dependency dotnet-reportgenerator-globaltool to v5.0.4
  .config/dotnet-tools.json
Due: prettier --write

Update dependency gitversion.tool to v5.8.2
  .config/dotnet-tools.json
Due: prettier --write

Update actions/setup-dotnet action to v1.9.0
  .github/workflows/fontawesome.yml
Due: prettier --write

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
