Repository RocketSurgeonsGuild/Blazor.FontAwesome5: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

build as dotnet tool
  src/Blazor.FontAwesome.Tool/Rocket.Surgery.Blazor.FontAwesome.Tool.csproj
Due: none

Updated gitversion config
  GitVersion.yml
Due: prettier --write

Automatically linting code
  .config/dotnet-tools.json
  Directory.Packages.props
Due: prettier --write

Automatically linting code
  .build/SyncMetadata.cs
  src/Blazor.FontAwesome.Tool/Rocket.Surgery.Blazor.FontAwesome.Tool.csproj
  test/Blazor.FontAwesome6.Tests/IconTests.cs
  test/Blazor.FontAwesome6.Tests/PlaywrightFixture.cs
Due: dotnet nuke lint --no-logo --lint-files

Added test
  test/Blazor.FontAwesome6.Tests/CategoryProviderTests.cs
  test/Blazor.FontAwesome6.Tests/IconTests.cs
  test/Blazor.FontAwesome6.Tests/PlaywrightFixture.cs
  test/Blazor.FontAwesome6.Tests/Rocket.Surgery.Blazor.FontAwesome6.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files

try and make sure categories get loaded
  .build/SyncMetadata.cs
  src/Blazor.FontAwesome.Tool/Rocket.Surgery.Blazor.FontAwesome.Tool.csproj
  src/Blazor.FontAwesome.Tool/categories.txt
Due: dotnet nuke lint --no-logo --lint-files

fixed failing test
  test/Blazor.FontAwesome6.Tests/snapshots/IconTests.IconValidations_ff0f4b35a7e40c4c.verified.txt
Due: none

Fix/categories (#1012)
  .build/SyncMetadata.cs
  src/Blazor.FontAwesome.Tool/Rocket.Surgery.Blazor.FontAwesome.Tool.csproj
  src/Blazor.FontAwesome.Tool/categories.txt
  test/Blazor.FontAwesome6.Tests/CategoryProviderTests.cs
  test/Blazor.FontAwesome6.Tests/IconTests.cs
  test/Blazor.FontAwesome6.Tests/PlaywrightFixture.cs
  test/Blazor.FontAwesome6.Tests/Rocket.Surgery.Blazor.FontAwesome6.Tests.csproj
  test/Blazor.FontAwesome6.Tests/snapshots/IconTests.IconValidations_ff0f4b35a7e40c4c.verified.txt
Due: dotnet nuke lint --no-logo --lint-files

Updated husky script
  package.json
Due: prettier --write

Updated lint
  .github/workflows/lint.yml
Due: prettier --write

Automatically linting code
  .github/workflows/lint.yml
Due: prettier --write

Fixed gitversion configuration to work with beta7
  GitVersion.yml
Due: prettier --write

Automatically linting code
  .github/workflows/ci.yml
Due: prettier --write

[create-pull-request] automated change
  src/Blazor.FontAwesome.Tool/categories.txt
  src/Blazor.FontAwesome6.Free.Svg/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Free.Svg/Icons/FaRegular.cs
  src/Blazor.FontAwesome6.Free.Svg/Icons/FaSolid.cs
  src/Blazor.FontAwesome6.Free/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Free/Icons/FaSolid.cs
  src/Blazor.FontAwesome6.Pro/Categories/FaEnergy.cs
  src/Blazor.FontAwesome6.Pro/Categories/FaFiles.cs
  src/Blazor.FontAwesome6.Pro/Categories/FaPhotosImages.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaLight.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaRegular.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSharpLight.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSharpRegular.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSharpSolid.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSharpThin.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSolid.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change (#1053)
  src/Blazor.FontAwesome.Tool/categories.txt
  src/Blazor.FontAwesome6.Free.Svg/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Free.Svg/Icons/FaRegular.cs
  src/Blazor.FontAwesome6.Free.Svg/Icons/FaSolid.cs
  src/Blazor.FontAwesome6.Free/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Free/Icons/FaSolid.cs
  src/Blazor.FontAwesome6.Pro/Categories/FaEnergy.cs
  src/Blazor.FontAwesome6.Pro/Categories/FaFiles.cs
  src/Blazor.FontAwesome6.Pro/Categories/FaPhotosImages.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaDuotone.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaLight.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaRegular.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSharpLight.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSharpRegular.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSharpSolid.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSharpThin.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaSolid.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaThin.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated verify
  test/Blazor.FontAwesome6.Tests/snapshots/PlaywrightSampleTest.LetsGo.verified.html
Due: none

Updated some namespace exclusions
  src/Blazor.FontAwesome6/Shared/IAnimationComponent.cs
  src/Blazor.FontAwesome6/Shared/IAnimationIcon.cs
  src/Blazor.FontAwesome6/Shared/IIcon.cs
  src/Blazor.FontAwesome6/Shared/IMaskIcon.cs
  src/Blazor.FontAwesome6/Shared/ISharedIcon.cs
  src/Blazor.FontAwesome6/Shared/ISvgIcon.cs
  src/Blazor.FontAwesome6/Shared/ISvgMaskIcon.cs
  src/Blazor.FontAwesome6/Shared/ITransformIcon.cs
  src/Blazor.FontAwesome6/Shared/IconExtensions.cs
  src/Blazor.FontAwesome6/Shared/SvgIcon.cs
  src/Blazor.FontAwesome6/Vector/Renderer.cs
Due: dotnet nuke lint --no-logo --lint-files

Automatically linting code
  src/Blazor.FontAwesome6/Shared/IAnimationComponent.cs
  src/Blazor.FontAwesome6/Shared/IAnimationIcon.cs
  src/Blazor.FontAwesome6/Shared/IIcon.cs
  src/Blazor.FontAwesome6/Shared/IMaskIcon.cs
  src/Blazor.FontAwesome6/Shared/ISharedIcon.cs
  src/Blazor.FontAwesome6/Shared/ISvgIcon.cs
  src/Blazor.FontAwesome6/Shared/ISvgMaskIcon.cs
  src/Blazor.FontAwesome6/Shared/ITransformIcon.cs
  src/Blazor.FontAwesome6/Shared/IconExtensions.cs
  src/Blazor.FontAwesome6/Shared/SvgIcon.cs
  src/Blazor.FontAwesome6/Vector/Renderer.cs
Due: dotnet nuke lint --no-logo --lint-files

well that was weird
  src/Blazor.FontAwesome6/Vector/Renderer.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated some namespace exclusions (#1058)
  src/Blazor.FontAwesome6/Shared/IAnimationComponent.cs
  src/Blazor.FontAwesome6/Shared/IAnimationIcon.cs
  src/Blazor.FontAwesome6/Shared/IIcon.cs
  src/Blazor.FontAwesome6/Shared/IMaskIcon.cs
  src/Blazor.FontAwesome6/Shared/ISharedIcon.cs
  src/Blazor.FontAwesome6/Shared/ISvgIcon.cs
  src/Blazor.FontAwesome6/Shared/ISvgMaskIcon.cs
  src/Blazor.FontAwesome6/Shared/ITransformIcon.cs
  src/Blazor.FontAwesome6/Shared/IconExtensions.cs
  src/Blazor.FontAwesome6/Shared/SvgIcon.cs
  src/Blazor.FontAwesome6/Vector/Renderer.cs
Due: dotnet nuke lint --no-logo --lint-files

Automatically linting code
  Directory.Packages.props
Due: none

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
