Repository RocketSurgeonsGuild/Blazor.FontAwesome5: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

.lintstagedrc:

{
    "*.{cs,vb}": ["dotnet nuke lint --no-logo --lint-files", "git add"],
    "*.{js,ts,jsx,tsx,json,yml,yaml}": ["prettier --write", "git add"]
}

Automatically linting code
  .github/workflows/publish-nuget.yml
Due: prettier --write

idea
  .editorconfig
  .gitignore
  .idea/.idea.FontAwesome5/.idea/.gitignore
  .idea/.idea.FontAwesome5/.idea/.name
  .idea/.idea.FontAwesome5/.idea/encodings.xml
  .idea/.idea.FontAwesome5/.idea/git_toolbox_blame.xml
  .idea/.idea.FontAwesome5/.idea/indexLayout.xml
  .idea/.idea.FontAwesome5/.idea/vcs.xml
Due: none

Automatically linting code
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/publish-nuget.yml
Due: prettier --write

Updated editor config
  .editorconfig
  Blazor.FontAwesome5.sln.DotSettings
Due: none

try and fix updater
  .github/workflows/fontawesome.yml
Due: prettier --write

updated ci bits
  .build/Build.CI.cs
  .build/SyncMetadata.cs
  src/Blazor.FontAwesome.Tool/Operations/GetFileContentForIcons.cs
Due: dotnet nuke lint --no-logo --lint-files

Automatically linting code
  .build/Build.CI.cs
  .build/SyncMetadata.cs
  src/Blazor.FontAwesome.Tool/Operations/GetFileContentForIcons.cs
Due: dotnet nuke lint --no-logo --lint-files

Automatically linting code
  .github/workflows/close-milestone.yml
Due: prettier --write

Revert "Update dependency FluentAssertions to v8 (#1435)"
  Directory.Packages.props
Due: none

Automatically linting code
  Directory.Packages.support.props
Due: none

fixed failing tests
  .build/Build.CI.cs
  .build/SyncMetadata.cs
  .idea/.idea.FontAwesome5/.idea/discord.xml
  src/Blazor.FontAwesome6/RecordInterop.cs
Due: dotnet nuke lint --no-logo --lint-files

moved to shoudly
  Directory.Packages.props
  test/Blazor.FontAwesome6.Tests/CategoryProviderTests.cs
  test/Blazor.FontAwesome6.Tests/FaLayerTests.cs
  test/Blazor.FontAwesome6.Tests/FaStackTests.cs
  test/Blazor.FontAwesome6.Tests/FaSvgIconTests.cs
  test/Blazor.FontAwesome6.Tests/SvgIconTests.cs
  test/Blazor.FontAwesome6.Tests/snapshots/SvgIconTests.IconValidations_d0223e8723802dd5.verified.txt
  test/Directory.Build.targets
Due: dotnet nuke lint --no-logo --lint-files

Remove unused dependencies
  .build/Build.cs
  .github/workflows/lint.yml
  .nuke/build.schema.json
  Directory.Packages.props
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Automatically linting code
  .build/Build.cs
  Directory.Packages.props
Due: dotnet nuke lint --no-logo --lint-files

Updated dotsettings
  Blazor.FontAwesome5.sln.DotSettings
Due: none

Updated to new msbuild package
  Directory.Packages.props
  src/Blazor.FontAwesome.Tool/ToolConvention.cs
Due: dotnet nuke lint --no-logo --lint-files

I give up lol
  Directory.Packages.props
Due: none

Automatically linting code
  Directory.Packages.props
Due: none
