Repository RocketSurgeonsGuild/Blazor.FontAwesome5: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

.lintstagedrc:

{
    "*.{cs,vb}": ["dotnet nuke lint --no-logo --lint-files", "git add"],
    "*.{js,ts,jsx,tsx,json,yml,yaml}": ["prettier --write", "git add"]
}

some other changes
  .build/SyncMetadata.cs
Due: dotnet nuke lint --no-logo --lint-files

updateing tests to latest
  test/Blazor.FontAwesome6.Tests/FaIconTests.cs
  test/Blazor.FontAwesome6.Tests/IconTests.cs
Due: dotnet nuke lint --no-logo --lint-files

added project excludes
  .build/SyncMetadata.cs
Due: dotnet nuke lint --no-logo --lint-files

maybe?!?
  .build/Build.CI.cs
  .build/SyncMetadata.cs
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  Directory.Packages.props
  README.md
  test/Blazor.FontAwesome6.Tests/PlaywrightSampleTest.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Automatically linting code
  .build/Build.CI.cs
  .build/SyncMetadata.cs
  Directory.Packages.props
  src/Blazor.FontAwesome.Tool/Commands/EmitCommand.cs
  src/Blazor.FontAwesome.Tool/Operations/GetFileContentForIcons.cs
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromIconFamilies.cs
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromKit.cs
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromRelease.cs
  src/Blazor.FontAwesome.Tool/Support/CategoryProvider.cs
  src/Blazor.FontAwesome.Tool/Support/IconModel.cs
  src/Blazor.FontAwesome.Tool/Support/IconModelExtensions.cs
  src/Blazor.FontAwesome.Tool/ToolConvention.cs
  src/Blazor.FontAwesome6/IconFamily.cs
  src/Blazor.FontAwesome6/IconStyle.cs
  test/Blazor.FontAwesome6.Tests/CategoryProviderTests.cs
  test/Blazor.FontAwesome6.Tests/FaIconTests.cs
  test/Blazor.FontAwesome6.Tests/IconTests.cs
  test/Blazor.FontAwesome6.Tests/PlaywrightSampleTest.cs
Due: dotnet nuke lint --no-logo --lint-files

maybe?!?
  src/Blazor.FontAwesome.Tool/Support/CategoryProvider.cs
Due: dotnet nuke lint --no-logo --lint-files

Automatically linting code
  src/Blazor.FontAwesome.Tool/Support/CategoryProvider.cs
Due: dotnet nuke lint --no-logo --lint-files

disable playwright
  README.md
  test/Blazor.FontAwesome6.Tests/ModuleInitializer.cs
  test/Blazor.FontAwesome6.Tests/PlaywrightFixture.cs
  test/Blazor.FontAwesome6.Tests/PlaywrightSampleTest.cs
  test/Blazor.FontAwesome6.Tests/Rocket.Surgery.Blazor.FontAwesome6.Tests.csproj
Due: dotnet nuke lint --no-logo --lint-files

well there we go
  Directory.Packages.props
  src/Blazor.FontAwesome.Tool/Operations/GetFileContentForIcons.cs
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromIconFamilies.cs
  src/Blazor.FontAwesome.Tool/Support/CategoryProvider.cs
  src/Blazor.FontAwesome.Tool/Support/IconModel.cs
  test/Blazor.FontAwesome6.Tests/CategoryProviderTests.cs
  test/Blazor.FontAwesome6.Tests/SharedPlaywrightCollection.cs
Due: dotnet nuke lint --no-logo --lint-files

Automatically linting code
  Directory.Packages.props
  src/Blazor.FontAwesome.Tool/Operations/GetFileContentForIcons.cs
  src/Blazor.FontAwesome.Tool/Operations/GetIconsFromIconFamilies.cs
  src/Blazor.FontAwesome.Tool/Support/CategoryProvider.cs
  src/Blazor.FontAwesome.Tool/Support/IconModel.cs
  test/Blazor.FontAwesome6.Tests/CategoryProviderTests.cs
  test/Blazor.FontAwesome6.Tests/ModuleInitializer.cs
  test/Blazor.FontAwesome6.Tests/PlaywrightFixture.cs
  test/Blazor.FontAwesome6.Tests/PlaywrightSampleTest.cs
  test/Blazor.FontAwesome6.Tests/SharedPlaywrightCollection.cs
Due: dotnet nuke lint --no-logo --lint-files

Automatically linting code
  src/Blazor.FontAwesome6.Free.Svg/Categories/FaGaming.cs
  src/Blazor.FontAwesome6.Free.Svg/Categories/FaShopping.cs
  src/Blazor.FontAwesome6.Free.Svg/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Free/Categories/FaGaming.cs
  src/Blazor.FontAwesome6.Free/Categories/FaShopping.cs
  src/Blazor.FontAwesome6.Free/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Pro/Categories/FaGaming.cs
  src/Blazor.FontAwesome6.Pro/Categories/FaShopping.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaBrands.cs
Due: dotnet nuke lint --no-logo --lint-files

[create-pull-request] automated change
  .nuke/build.schema.json
Due: prettier --write

[create-pull-request] automated change (#1261)
  .nuke/build.schema.json
Due: prettier --write

fixed skips on build
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: prettier --write

added liquid
  .config/dotnet-tools.json
  src/Blazor.FontAwesome6/IconStyle.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Automatically linting code
  src/Blazor.FontAwesome6.Free.Svg/Categories/FaGaming.cs
  src/Blazor.FontAwesome6.Free.Svg/Categories/FaShopping.cs
  src/Blazor.FontAwesome6.Free.Svg/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Free/Categories/FaGaming.cs
  src/Blazor.FontAwesome6.Free/Categories/FaShopping.cs
  src/Blazor.FontAwesome6.Free/Icons/FaBrands.cs
  src/Blazor.FontAwesome6.Pro/Categories/FaGaming.cs
  src/Blazor.FontAwesome6.Pro/Categories/FaShopping.cs
  src/Blazor.FontAwesome6.Pro/Icons/FaBrands.cs
  src/Blazor.FontAwesome6/IconStyle.cs
Due: dotnet nuke lint --no-logo --lint-files

Fix/family style parsing (#1272)
  .config/dotnet-tools.json
  src/Blazor.FontAwesome6/IconStyle.cs
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Updated nuke
  Directory.Packages.props
Due: none

Automatically linting code
  Directory.Packages.props
Due: none

normalize build scripts
  build.ps1
  build.sh
Due: none

normalize build scripts (#1274)
  build.ps1
  build.sh
Due: none

Automatically linting code
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: prettier --write

Updated editor config
  .editorconfig
  src/Blazor.FontAwesome.Tool/Operations/GetFileContentForIcons.cs
Due: dotnet nuke lint --no-logo --lint-files

Automatically linting code
  .build/SyncMetadata.cs
  src/Blazor.FontAwesome.Tool/Operations/GetFileContentForIcons.cs
Due: dotnet nuke lint --no-logo --lint-files

insert_final_newline
  .editorconfig
Due: none
