Repository RocketSurgeonsGuild/Blazor.FontAwesome5: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet nuke lint --no-logo --lint-files, prettier --write

Update dependency FluentAssertions to v6.7.0
  Directory.Packages.props
Due: none

Update reportgenerator to v5.1.9
  .config/dotnet-tools.json
  Directory.Packages.props
Due: prettier --write

Update dependency bunit to v1.8.15
  Directory.Packages.props
Due: none

Update actions/upload-artifact action to v3.1.0
  .github/workflows/ci.yml
Due: prettier --write

Update dependency lint-staged to v12.4.2
  package-lock.json
  package.json
Due: prettier --write

Update dependency Roslynator.Analyzers to v4.1.1
  Directory.Packages.props
Due: none

Update dependency lint-staged to v12.4.3
  package-lock.json
  package.json
Due: prettier --write

Update gitversion to v5.10.3
  .config/dotnet-tools.json
  Directory.Packages.props
Due: prettier --write

Update dependency lint-staged to v12.5.0
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v13
  package-lock.json
  package.json
Due: prettier --write

Update peter-evans/create-pull-request action to v4.0.4
  .github/workflows/fontawesome.yml
Due: prettier --write

Update dependency jetbrains.resharper.globaltools to v2022.1.2
  .config/dotnet-tools.json
Due: prettier --write

Update Rocket Surgery Testing to v7.1.0
  Directory.Packages.props
Due: none

Updated to use nuget package source mapping
  NuGet.config
Due: none

Update dependency bunit to v1.9.8
  Directory.Packages.props
Due: none

Update dependency Rocket.Surgery.Nuke to v0.17.12
  Directory.Packages.props
Due: none

Updated nuke build to use new extension methods
  .build/Build.CI.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated nuke build to use new extension methods (#586)
  .build/Build.CI.cs
Due: dotnet nuke lint --no-logo --lint-files

Updated build pipeline naming, and added strongly typed solution
  .build/Build.CI.cs
  .build/Build.cs
  .build/SyncMetadata.cs
  .github/workflows/ci.yml
  .nuke/build.schema.json
Due: dotnet nuke lint --no-logo --lint-files, prettier --write

Update dependency Rocket.Surgery.Nuke to v0.17.14
  Directory.Packages.props
Due: none

Update dependency lint-staged to v13.0.1
  package-lock.json
  package.json
Due: prettier --write

Update dependency prettier to v2.7.0
  package-lock.json
  package.json
Due: prettier --write

Update dependency Nuke.Common to v6.1.0
  Directory.Packages.props
Due: none

Path conditions:
  dotnet nuke lint --no-logo --lint-files: any of: *.{cs,vb}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,yml,yaml}
